body {
    color: #e8e8e8;
    background-color: #1b1b1c;
    font-size: 12px!important;
}
#top-bar a {
    color: #989898;
    text-align: center;
    width: 90px;
    line-height: 35px;
}
#top-bar a:hover {
    color: #e8e8e8;
    //background-color: #242424;
    background-color: #2d2d2d;
    text-decoration: none;
}
input#s_song_name:focus {
    outline: 0;
    box-shadow: none!important;
}
#song-progress {
    width: 100%;
    height: 1px;
    display: block;
}
#song-progress:hover {
    height: 3px;
}
.volume-box {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 6px;
    width: 24px;
    background-color: #000;
    position: absolute;
    bottom: 26px;
    left: -6px;
    display: none;
}
#vol-val {
    color: #e8e8e8;
}
#volume-progress {
    width: 1px;
    height: 100px;
}
#song-progress .slider-track {
    height: inherit;
    margin-top: 0px;
    top: 0;
}
#volume-progress .slider-track {
    width: 100%;
    height: 100%;
}
#song-progress .slider-selection, #volume-progress .slider-track-high {
    background: #28a745;
}
#song-progress .slider-track-high, #volume-progress .slider-selection {
    background: #989898;
}
#song-progress .slider-handle {
    display: none;
    margin-left: -3px;
    margin-top: -2px;
    width: 7px;
    height: 7px;
    background: #28a745;
}
#song-progress:hover .slider-handle {
    display: block;
}
.slider .hide {
    display: none!important;
}
#volume-progress .slider-handle {
    /* display: none; */
    margin-left: -2px;
    margin-top: -3px;
    width: 5px;
    height: 6px;
    background: #28a745;
}
.icon-add:hover, .icon-volume-0:hover, .icon-volume-1:hover, .icon-menu:hover,
.icon-lyric:hover, .icon-lyric1:hover, .icon-prev:hover, .icon-play:hover, .icon-pause:hover, .icon-next:hover,
.icon-single-loop:hover, .icon-list-loop:hover, .icon-playlist:hover, .icon-cancel:hover, .icon-del:hover {
    color: #e8e8e8;
}
.icon-del {
    font-size: 16px;
    color: #989898;
    cursor: pointer;
}
.icon-lyric, .icon-lyric1, .icon-prev, .icon-next, .icon-single-loop,
.icon-list-loop, .icon-playlist, .icon-play, .icon-pause, .icon-menu {
    font-size: 20px;
    color: #989898;
    cursor: pointer;
}
.icon-volume-0, .icon-volume-1, .icon-cancel, .icon-add {
    font-size: 12px;
    color: #989898;
    cursor: pointer;
}
#s_song_name{
    color: #e8e8e8;
    background-color: #242424;
    padding-left: 10px;
}
.song_table {
    color: #9b9b9b;
    width: 100%;
}
.song_table tr {
    height: 30px;
}
.song_table td, .song_table th {
    padding: 0px 10px;
    vertical-align: middle;
}
.song_table th {
    font-weight: unset;
    color: #9b9b9b;
}
.song_table tbody tr:hover {
    background-color: #131313;
}
#page-lyric {
    display: none;
    color: #e8e8e8;
    line-height: 30px;
}
.playlist-box {
    background-color: #242424;
    display: none;
}
.play-song {
    color: #e8e8e8;
    cursor: pointer;
}
.playing .play-song{
    color: #28a745;
}
.playing .icon-list-play {
    color: #28a745;
    display: block;
}
.icon-list-play {
    display: none;
}
.s_song_tabs ul {
    width: 30px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #242424;
}
.s_song_tabs > ul > li > a {
    color: #9b9b9b!important;
    padding: 5px;
    display: block;
    cursor: pointer;
}
.s_song_tabs > ul > li > a:hover {
    color: #e8e8e8!important;
    text-decoration: none;
}
.s_song_tabs > ul > li.active > a {
    color: #28a745!important;
    background-color: #1b1b1c;
}
.h-btn {
    display: none;
}
#s_song_results .song_table tbody tr:hover .h-btn {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #131313;
    padding: 6px 10px;
}
.badge-custom {
    color: #e8e8e8;
    transform: scale(0.8);
    padding: .1em .4em;
    border-radius: 10rem;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #28a745;
}
#play-pause {

}
#btn-menu {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0px;
    background-color: #242424;
}
.poetry-catalog {
    width: 200px;
    height: 100%;
    background-color: #242424;
}
#card-menu  i.iconfont{
    font-size: 36px;
}