body {
    color: #e8e8e8;
    background-color: #1b1b1c;
    font-size: 12px!important;
}
input#s_song_name:focus {
    outline: 0;
    box-shadow: none!important;
}
#song-progress {
    width: 100%;
    height: 1px;
    display: block;
}
#song-progress:hover {
    height: 3px;
}
.volume-box {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 6px;
    width: 24px;
    background-color: #000;
    position: absolute;
    bottom: 26px;
    left: -6px;
    display: none;
}
#vol-val {
    color: #e8e8e8;
}
#volume-progress {
    width: 1px;
    height: 100px;
}
#song-progress .slider-track {
    height: inherit;
    margin-top: 0px;
    top: 0;
}
#volume-progress .slider-track {
    width: 100%;
    height: 100%;
}
#song-progress .slider-selection, #volume-progress .slider-track-high {
    background: #28a745;
}
#song-progress .slider-track-high, #volume-progress .slider-selection {
    background: #989898;
}
#song-progress .slider-handle {
    display: none;
    margin-left: -3px;
    margin-top: -2px;
    width: 7px;
    height: 7px;
    background: #28a745;
}
#song-progress:hover .slider-handle {
    display: block;
}
.slider .hide {
    display: none!important;
}
#volume-progress .slider-handle {
    /* display: none; */
    margin-left: -2px;
    margin-top: -3px;
    width: 5px;
    height: 6px;
    background: #28a745;
}
.icon-add:hover, .icon-sub:hover, .icon-volume-0:hover, .icon-volume-1:hover, .icon-menu:hover, .icon-search:hover,
.icon-lyric:hover, .icon-lyric1:hover, .icon-prev:hover, .icon-play:hover, .icon-pause:hover, .icon-next:hover,
.icon-single-loop:hover, .icon-list-loop:hover, .icon-playlist:hover, .icon-cancel:hover, .icon-del:hover,
.icon-home:hover, .icon-music:hover, .icon-poetry:hover, .icon-image:hover, .icon-video:hover, .icon-confirm:hover {
    color: #e8e8e8;
}
.icon-del {
    font-size: 16px;
    color: #989898;
    cursor: pointer;
}
.icon-lyric, .icon-lyric1, .icon-prev, .icon-next, .icon-single-loop,
.icon-list-loop, .icon-playlist, .icon-play, .icon-pause, .icon-menu, .icon-search,
.icon-home, .icon-music, .icon-poetry, .icon-image, .icon-video {
    font-size: 20px;
    color: #989898;
    cursor: pointer;
}
.icon-volume-0, .icon-volume-1, .icon-cancel, .icon-add, .icon-sub, .icon-confirm {
    font-size: 12px;
    color: #989898;
    cursor: pointer;
}
#s_song_name{
    color: #e8e8e8;
    background-color: #242424;
}
.song_table {
    color: #9b9b9b;
    width: 100%;
}
.song_table tr {
    height: 30px;
}
.song_table td, .song_table th {
    padding: 0px 10px;
    vertical-align: middle;
}
.song_table th {
    font-weight: unset;
    color: #9b9b9b;
}
.song_table tbody tr:hover {
    background-color: #131313;
}
#page-lyric {
    display: none;
    color: #e8e8e8;
    line-height: 30px;
}
.playlist-box {
    background-color: #242424;
    display: none;
}
.play-song {
    color: #e8e8e8;
    cursor: pointer;
}
.playing .play-song{
    color: #28a745;
}
.playing .icon-playing {
    color: #28a745;
    display: block;
}
.icon-playing {
    display: none;
}
.s_song_tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #242424;
}
.s_song_tabs > ul > li > a {
    color: #9b9b9b!important;
    padding: 6px 10px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}
.s_song_tabs > ul > li > a:hover {
    color: #e8e8e8!important;
    text-decoration: none;
}
.s_song_tabs > ul > li.active > a {
    color: #28a745!important;
    background-color: #1b1b1c;
}
.h-btn {
    display: none;
}
.search_content .song_table tbody tr:hover .h-btn {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #131313;
    padding: 6px 10px;
}
.badge-custom {
    color: #e8e8e8;
    transform: scale(0.8);
    padding: .1em .4em;
    border-radius: 10rem;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #28a745;
}
#play-pause {
    font-size: 28px;
}
.poetry-catalog {
    width: 200px;
    height: 100%;
    background-color: #242424;
}
.menu-box i.iconfont{
    color: #e8e8e8;
    font-size: 48px;
}
.menu-box {
    color: #e8e8e8;
    font-size: 14px;
    cursor:pointer;
}
.menu-box:hover, .menu-box:hover i.iconfont {
    text-decoration: none;
    color: #28a745;
    background-color: #242424;
}
.top-box {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.top-box img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    cursor: pointer;
}
.top-box-2 {
    opacity: 0.8;
    cursor: pointer;
}
.top-box:hover img, .top-box-2:hover {
    opacity: 1;
}
.top-box-2 {
    text-align: center;
    background-color: #242424;
    margin: 10px;
    padding: 6px 10px;
}
.icon-backward, .icon-forward {
    font-size: 12px;
    color: #989898;
}
.icon-backward.active, .icon-forward.active {
    color: #e8e8e8;
    cursor: pointer;
}
.default_content {
    padding: 10px 0px;
}
.menu_btn {
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    color: #9b9b9b;
}
.menu_btn:hover {
    color: #e8e8e8;
}
.menu_btn.active {
    color: #28a745!important;
}
.img-box {
    margin: 0px 10px 10px 0px;
    overflow: hidden;
}
.img-box img:hover {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.img-box img {
    width: 100%;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.img-box.active {
    border: 2px solid green;
}
.custom-btn {
    text-align: center;
    background-color: #353535;
    padding: 0px 5px;
    cursor: pointer;
    color: #9b9b9b;
}
.custom-btn:hover {
    color: #e8e8e8;
}
.custom-sel {
    color: #9b9b9b;
    background-color: #353535;
    border: none;
    display: none;
}
.custom-sel:focus {
    outline: 0;
    box-shadow: none!important;
}
.alert-danger-custom {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
}