<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>有丶小帅</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mushroom.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2393058_d84ia0k6tm.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabslet.min.js') }}"></script>
</head>
<body>
    <div style="position: fixed; top: 0; right: 0; left: 0; bottom: 0;">
        <div class="d-flex text-center" style="height: 100%;">
            <div onclick="window.location.href='/'" class="d-flex flex-fill menu-box">
                <div class="flex-grow-1 align-self-center">
                    <i class="iconfont icon-home"></i>
                    <div>首页</div>
                </div>
            </div>
            <div onclick="window.location.href='/music'" class="d-flex flex-fill menu-box">
                <div class="flex-grow-1 align-self-center">
                    <i class="iconfont icon-music"></i>
                    <div>音乐</div>
                </div>
            </div>
            <div onclick="window.location.href='/poetry'" class="d-flex flex-fill menu-box">
                <div class="flex-grow-1 align-self-center">
                    <i class="iconfont icon-poetry"></i>
                    <div>诗词</div>
                </div>
            </div>
            <div onclick="window.location.href='/image'" class="d-flex flex-fill menu-box">
                <div class="flex-grow-1 align-self-center">
                    <i class="iconfont icon-image"></i>
                    <div>图片</div>
                </div>
            </div>
            <div onclick="window.location.href='/video'" class="d-flex flex-fill menu-box">
                <div class="flex-grow-1 align-self-center">
                    <i class="iconfont icon-video"></i>
                    <div>视频解析</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>