<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>H站</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mushroom.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabslet.min.js') }}"></script>
</head>
<body>
<div class="d-flex flex-column" style="position: fixed; top: 0; right: 0; left: 0; bottom: 0;">
    <div id="top-bar" class="d-flex" style="background-color: #242424;">
        <a class="" href="/">H站</a>
        <a class="" href="/music">音乐</a>
        <a class="" href="/image">图片</a>
        <a class="" href="/poetry">诗词</a>
    </div>
</div>
</body>
<script>
  function initFingerprintJS() {
    FingerprintJS.load().then(fp => {
      fp.get().then(result => {
        $('body').append('<input id="visitor_id" type="hidden" value="' + result.visitorId + '" />');
      });
    });
  }
</script>
<script src="{{ url_for('static', filename='js/fp.min.js') }}" onload="initFingerprintJS()"></script>
</html>