<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer" />
    <title>图片</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mushroom.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery.tabslet.js/1.4.4/jquery.tabslet.min.js"></script>
</head>
<body>

</body>
<script>
  function initFingerprintJS() {
    FingerprintJS.load().then(fp => {
      fp.get().then(result => {
        $('body').append('<input id="visitor_id" type="hidden" value="' + result.visitorId + '" />');
      });
    });
  }
</script>
<script async src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js" onload="initFingerprintJS()"></script>
<script>
    $(document).ready(function() {
        setTimeout(function () {
            $.post("/image/list", {visitor_id: $('#visitor_id').val()}, function(image_list){
                var html = "";
                $.each(image_list, function(i, v) {
                    html += '<img src="' + v.link + '">';
                });
                $('body').append(html);
            });
        }, 500);
    });
</script>
</html>