<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer" />
    <title>图片</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mushroom.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2393058_ep7cyn17qwa.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabslet.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image.js') }}"></script>
</head>
<body>
<div class="d-flex flex-column" style="position: fixed; top: 0; right: 0; left: 0; bottom: 0;">
    <div class="d-flex">
        <div class="d-flex flex-grow-1" style="background-color: #242424; border-bottom: 1px solid #131313;">
            <div class="menu_btn" onclick="window.open('/')">首页</div>
            <div class="menu_btn" onclick="window.open('/music')">音乐</div>
            <div class="menu_btn" onclick="window.open('/poetry')">诗词</div>
            <div class="menu_btn active">图片</div>
            <div class="menu_btn" onclick="window.open('/video')">视频解析</div>
        </div>
    </div>
    <div class="d-flex flex-grow-1" style="overflow: hidden;">
        <div class="d-flex s_song_tabs" style="width: 82%;">
            <ul class="d-flex flex-column" style="width: 18%;">
                <div class="d-flex justify-content-between" style="padding: 6px 10px;">
                    <div class="align-self-center">分类文件夹</div>
                    <div class="align-self-center">
                        <i class="iconfont icon-sub" title="删除分类"></i>
                        <i class="iconfont icon-add" title="新增分类"></i>
                    </div>
                </div>
                {% for result in results %}
                <li>
                    <a class="d-flex" target="#{{ result.id }}" style="padding: 0px 10px;">
                        <div class="align-self-center" style="margin-right: 5px;"><i class="iconfont icon-files"></i></div>
                        <div class="align-self-center">{{ result.name }}</div>
                        <div class="align-self-center ml-auto" style="margin-right: 3px;">{{ result.count }}</div>
                    </a>
                </li>
                {% endfor %}
                <div class="alert-danger-custom" style="display: none;">不能删除非空文件夹!</div>
            </ul>
            {% for result in results %}
            <div id="{{ result.id }}" style="width: 82%;">
                <div class="d-flex" style="margin: 10px 0px 0px 10px;">

                </div>
            </div>
            {% endfor %}
        </div>
        <div style="width: 18%; background-color: #242424;">
            <div style="padding: 6px 10px;">分类</div>
            <div class="d-flex justify-content-between" style="padding: 0px 10px; color: #9b9b9b;">
                <div id="img-cat" class="align-self-center">默认</div>
                <select id="img-cat-sel" class="custom-sel">
                    {% for result in results %}
                    <option value="{{ result.id }}">{{ result.name }}</option>
                    {% endfor %}
                </select>
                <div id="img-cat-change" class="custom-btn" cur_src="">修改</div>
            </div>

            <div style="padding: 6px 10px; margin-top: 10px;">详细信息</div>
            <div class="d-flex justify-content-between" style="padding: 0px 10px; color: #9b9b9b;">
                <div class="align-self-center">尺寸</div>
                <div id="img-size" class="align-self-center"></div>
            </div>
            <div class="d-flex justify-content-between" style="padding: 0px 10px; color: #9b9b9b;">
                <div class="align-self-center">文件大小</div>
                <div id="img-f-size" class="align-self-center"></div>
            </div>
            <div class="d-flex justify-content-between" style="padding: 0px 10px; color: #9b9b9b;">
                <div class="align-self-center">类型</div>
                <div id="img-type" class="align-self-center"></div>
            </div>
            <div class="d-flex justify-content-between" style="padding: 0px 10px; color: #9b9b9b;">
                <div class="align-self-center">创建日期</div>
                <div id="img-ct" class="align-self-center"></div>
            </div>
            <div style="padding: 6px 10px; margin-top: 10px;">
                <div id="img-del" class="custom-btn" style="padding: 2px 5px;" cur_src="">删除</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>