<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>诗词</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mushroom.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2393058_00e9iki6p8r7k.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabslet.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/poetry.js') }}"></script>
</head>
<body>
    <div style="position: fixed; top: 0; right: 0; left: 0; bottom: 0;">
        <div class='s_song_tabs d-flex' style="height: 100%;">
            <ul class="d-flex flex-column" style="border-right: 1px solid #131313;">
                {% for result in results %}
                <li class=""><a target="#{{ result.alias }}">{{ result.platform }}</a></li>
                {% endfor %}
<!--                <div id="btn-menu"><i class="iconfont icon-menu" title="菜单"></i></div>-->
            </ul>
            {% for result in results %}
            <div id="{{ result.alias }}" class="flex-grow-1">
                <div class="d-flex" style="height: 100%;">
                    <div class="poetry-catalog">
                        <table class="song_table text-center">
                            <tbody>
                            {% for poetry in result.poetry_list %}
                                <tr poetry-title="{{ poetry.title }}" poetry-author="{{ poetry.author }}" poetry-content="{{ poetry.content }}" poetry-type="{{ poetry.type }}">
                                    <td class="play-song">{{ poetry.title }}<span style="color: #9b9b9b;"> - {{ poetry.author }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 text-center" style="padding: 30px 0px;">
                        <div class="poetry-title" style="font-size: 24px; margin-bottom: 5px;"></div>
                        <div class="poetry-author" style="color: #9b9b9b; margin-bottom: 5px;"></div>
                        <div class="poetry-content flex-grow-1" style="font-size: 14px; line-height: 30px;">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>