<div class='s_song_tabs d-flex flex-column' style="height: 100%;">
    <ul class="d-flex">
        {% for result in results %}
        <li class=""><a target="#{{ result.alias }}">{{ result.platform }}</a></li>
        {% endfor %}
    </ul>
    {% for result in results %}
    <div id='{{ result.alias }}' class="flex-grow-1">
        {% for top in result.top_list %}
        <div style="padding: 6px 10px;">{{ top.title }}</div>
        <div class="d-flex flex-wrap">
            {% for li in top.list %}
            <div class="top-box">
                <img src="{{ li.src }}" title="{{ li.title }}" top-id="{{ li.top_id }}">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>